.responsive-image {
    max-width: 60%;
    height: auto;
  }
  
 .cart-panel {
  position: fixed;
  background-color: #f3e8c9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  right: 20px;
  bottom: 20px;
}
  .card-list {
    list-style-type: none;
    padding: 0;
  }
  
  .card {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: linear-gradient(135deg, #e5ba9a, #d5aa9b); /* Slightly darker background gradient */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  .card:hover {
    background-color: #e5b09a; /* Slightly darker hover background color style */
  }
  
  .card h3 {
    margin: 0;
    font-size: 24px;
    color: #f7f7f7; /* Slightly darker text color */
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .card p {
    margin: 10px 0 0;
    font-size: 16px;
    color: #f7f7f7; /* Slightly darker text color */
  }
  
  .list-heading {
    background: linear-gradient(135deg, #bfa48e, #ac8d7a); /* Slightly darker heading background gradient */
    color: #f7f7f7; /* Slightly darker heading text color */
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  body {
    background-color: #dbd1c7; /* Slightly darker background color */
    margin: 0;
    padding: 0;
  }
  
  /* Responsive Styles */
  
  @media screen and (max-width: 768px) {
    .card {
      padding: 15px;
      margin: 15px;
    }
  
    .card h3 {
      font-size: 20px;
    }
  
    .card p {
      font-size: 14px;
    }
  }
  
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .app header {
    margin-bottom: 20px;
  }
  
  .app header img {
    max-width: 70%;
    height: auto;
  }