.responsive-image {
    max-width: 100%;
    height: auto;
  }
  
  .card-list {
    list-style-type: none;
    padding: 0;
  }
  
  .card {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: linear-gradient(135deg, #f1d0b6, #e1bfa7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  .card:hover {
    background-color: #f0c6a6;
  }
  
  .card h3 {
    margin: 0;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .card p {
    margin: 10px 0 0;
    font-size: 16px;
    color: #fff;
  }
  
  .list-heading {
    background: linear-gradient(135deg, #d9b39e, #c49b8c);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  body {
    background-color: #ede4db; /* Slightly darker brown color */
    margin: 0;
    padding: 0;
  }
  
  /* Responsive Styles */
  
  @media screen and (max-width: 768px) {
    .card {
      padding: 15px;
      margin: 15px;
    }
  
    .card h3 {
      font-size: 20px;
    }
  
    .card p {
      font-size: 14px;
    }
  }
  
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .app header {
    margin-bottom: 20px;
  }
  
  .app header img {
    max-width: 100%;
    height: auto;
  }